.block.notice
  %h4= link_to "What is Braintea.se?", "/"
  Braintea.se is a social repository of <b>programming puzzles</b>, <b>code katas</b> and <b>logic problems</b> that can be solved by means of a programming language.
  %br
