= raw(stylesheet_link_merged(:base))

%link#current-theme{ :href => "/stylesheets/themes/blue/style.css", :rel => "stylesheet", :media => "screen", :type => "text/css" }
%link#current-nav{ :href => "/stylesheets/navigation/blue.css", :rel => "stylesheet", :media => "screen", :type => "text/css" }


= yield :css
