
-content_for :subtabs do
  .navtitle
    New Puzzle
-content_for :sidebar do
  / -if !current_group.question_help.empty?
  /   .help
  /     %h4
  /       = t(".how_to_ask")
  /     =current_group.question_help

- form_for(@puzzle, :html=>{:class => "form", :id => "ask_question"}) do |f|
  =render :partial => "form", :locals => {:f => f}

  .group.navform
    .controls.right{:style => "width: 50%"}
      / .left{:style => "width: 49.5%"}
      /   = f.label :wiki, "Wiki", :class => "radio"
      /   = f.check_box :wiki, :class => "checkbox"
      / .left{:style => "width: 49.5%"}
      /   = f.label :anonymous, t("scaffold.post_as_anonymous"), :class => "radio"
      /   = f.check_box :anonymous, {:class => "checkbox"}, true, false

    = f.submit "Create"
    or
    = link_to "Cancel", puzzles_path, :class => "button cancel"
